*, *:before, *:after {
    content: none ;
    margin: 0 ;
    padding: 0 ;
}
body {
    overflow: hidden ;
    background: #1d475f ;
}

.mapapijs
{
    &-container
    {
    width: 100vw ;
    height: 100vh ;
    position: relative ;
    > *
    {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    }
    }
    &-widgets
    {
    transform-origin:0 100%;
    transform: translate(var(--bounds-bl-x, 0), var(--bounds-bl-y, 0)));
    > *
    {
    position: absolute ;
    }
    > svg
    {
    transform-origin: 0 100% ;
    transform: scale(calc(var(--tilesource-width) * var(--scale))) ;
    }
    }
    &-infowindow
    {
        &--inner
        {
    background: #fff ;
    padding: .25em ;
    border-radius: .25em ;
            > div > div a
            {
    display: block ;
            }
        }
    }
}
